/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color palette */
    --clr-blue: #487aff;
    --clr-red: #E62727;
    --clr-green: #1E93AB;
    --clr-purple: #6A0066;
    --clr-pink: #FF0066;
    --clr-orange: #ef763e;

    --clr-light: #F3F2EC;
    --clr-gray: #DCDCDC;
    --clr-dark: #000000;

    /* Font size */
    --size-vxxs: 0.125rem;
    --size-vxs: 0.25rem;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

/* Global/Generic styles */
body {
    color: var(--clr-light);

    font-family: "Poppins", sans-serif;
    font-size: var(--size-sm);

    padding: 0;
    margin: 0;
}

body::selection {
    color: var(--clr-dark);
    background-color: var(--clr-light);
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--size-xl);

    padding: var(--size-6xl) var(--size-base);

    background-color: var(--clr-gray);
}

.section {
    padding: var(--size-xxs) var(--size-base);
}

.title {
    font-size: var(--size-3xl);
    margin: 0;
}

.sub-title {
    font-size: var(--size-2xl);
}

.paragraph {
    font-size: var(--size-sm);
    margin-top: 0;
}

.form {
    padding: var(--size-base) var(--size-xxs);
}

.form-field {
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--size-xxs);
}

.btn {
    font-weight: bolder;
    font-size: var(--size-sm);

    padding: var(--size-xxs) var(--size-2xl);
    border: none;
}

.profile-img {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;
}

.sm-frame {
    outline: 1px solid var(--clr-dark);
    box-shadow: 3px 3px 0px 1px var(--clr-dark);

    border-radius: var(--size-xxs);
}

.md-frame {
    outline: 2px solid var(--clr-dark);
    box-shadow: 6px 6px 0px 2px var(--clr-dark);

    border-radius: var(--size-xxs);
}

.lg-frame {
    outline: 3px solid var(--clr-dark);
    box-shadow: 9px 9px 0px 3px var(--clr-dark);

    border-radius: var(--size-xxs);
}

/* Media Query */
/* Mobile (lg) */
@media screen and (min-width: 528px) {
    .container {
        gap: var(--size-xl);
    }

    .section {
        padding: var(--size-xxs) var(--size-base);
    }

    .title {
        font-size: var(--size-3xl);
        margin: 0;
    }

    .sub-title {
        font-size: var(--size-2xl);
    }

    .paragraph {
        font-size: var(--size-base);
    }

    .form {
        padding: var(--size-lg) var(--size-xs);
    }

    .form-field {
        gap: var(--size-xs);
    }

    .btn {
        font-size: var(--size-base);

        padding: var(--size-xxs) var(--size-3xl);
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        gap: var(--size-2xl);
    }

    .section {
        padding: var(--size-xs) var(--size-lg);
    }

    .title {
        font-size: var(--size-4xl);
        margin: 0;
    }

    .sub-title {
        font-size: var(--size-3xl);
    }

    .paragraph {
        font-size: var(--size-lg);
    }

    .form {
        padding: var(--size-xl) var(--size-sm);
    }

    .form-field {
        gap: var(--size-sm);
    }

    .btn {
        font-size: var(--size-lg);

        padding: var(--size-xs) var(--size-4xl);
    }
}

/* Laptop */
@media screen and (min-width: 1024px) {
    .container {
        gap: var(--size-3xl);
    }

    .section {
        padding: var(--size-xs) var(--size-xl);
    }

    .title {
        font-size: var(--size-5xl);
        margin: 0;
    }

    .sub-title {
        font-size: var(--size-3xl);
    }

    .paragraph {
        font-size: var(--size-xl);
    }

    .form {
        padding: var(--size-2xl) var(--size-base);
    }

    .form-field {
        gap: var(--size-base);
    }

    .btn {
        font-size: var(--size-xl);

        padding: var(--size-xs) var(--size-5xl);
    }
}